<section class="contact">
  <h1 class="contact_title">Зв'яжіться з
    <span class="accent">нами</span>
  </h1>
</section>
<section class="parts-holder">
  <div class="content-wrapper content-wrapper__contact">
    <div class="contact_text w45">
      <div class="contact_title-holder">
        <h2 class="contact_title-article">Ми
          <span class="accent">завжди</span>
          на зв'язку</h2>
      </div>
      <div class="contact_description">
        <p class="contact_paragraph">Якщо у Вас виникли якісь запитання,
          Ви завжди можете зв'язатись з нами по телефону або написавши нам на Viber або електронну пошту.</p>
        <p class="contact_paragraph">Наш менеджер відповість на усі
          Ваші запитання та надасть детальну інформацію щодо наших послуг.</p>
        <hr>
      </div>
      <div class="contact_location">
        <!--<p class="contact_address">м. Львів</p>-->
        <!--<p class="contact_address">р. Сихів</p>-->
        <!--<p class="contact_address">вул. Б-І. Антонича</p>-->
        <p class="contact_address contact_address__email">ел. пошта:
          <a class="contact_link" href="#">order@clinko.com.ua</a>
        </p>
        <p class="contact_address">тел.
          <span class="contact_phone">098 487 32 34</span>
        </p>
      </div>
    </div>
   <div class="contact_form">
     <h2 class="contact_form-title"><span class="accent">Замовити</span><br> прибирання</h2>
     <form class="contact_form-holder">
       <div class="contact_input-box">
         <input class="contact_input" type="text" placeholder=" " required>
         <label class="contact_form-label">Ім'я</label>
       </div>
       <div class="contact_input-box contact_input-box__margin-bottom">
         <input class="contact_input" type="text" placeholder=" " required>
         <label class="contact_form-label">Номер телефону</label>
       </div>
       <button class="clinko-button" type="submit" name="" value="Submit">
         Замовити
         <fa name="angle-double-right"></fa>
       </button>
     </form>
   </div>
  </div>

</section>

