<section class="contact">
  <h1 class="contact_title">Зв'яжіться з
    <span class="accent">нами</span>
  </h1>
</section>
<section class="parts-holder">
  <div class="content-wrapper">
    <div class="contact_text w45">
      <div class="contact_title-holder">
        <h2 class="contact_title-article">Ми
          <span class="accent">завжди</span>
          на зв'язку</h2>
      </div>
      <div class="contact_description">
        <p class="contact_paragraph">As veterans,
          parents, and believers in God, Integrity & Excellence are our top priorities. We do not believe in cutting corners, even if it puts us at a competitive disadvantage.</p>
        <p class="contact_paragraph">We are committed to providing
          quality Janitorial & Maintenance services that deliver the highest levels of customer satisfaction.</p>
        <p class="contact_paragraph">For the last decade, we have been dedicated to
          extending the life our customers building assets and providing an exceptional experience for their customers.</p>
        <hr>
      </div>
      <div class="contact_location">
        <p class="contact_address">м. Львів</p>
        <p class="contact_address">р. Сихів</p>
        <p class="contact_address">вул. Б-І. Антонича</p>
        <p class="contact_address contact_address__email">ел. пошта:
          <a class="contact_link" href="#">clinko@gmail.com</a>
        </p>
        <p class="contact_address">тел.
          <span class="contact_phone">067 993 70 43</span>
        </p>
      </div>
    </div>
    <div class="contact_form">

    </div>
  </div>
</section>

