@import "../../../resource/style/mixins";
.contact {
  height: 416px;
  background: url("../../../resource/style/img/contact-bg.png") no-repeat fixed center center;
  background-size: cover;
  position: relative;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: url("../../../resource/style/img/dotted-mask1.png") repeat repeat;
  }
  @include e('title') {
    font-weight: bold;
    font-size: 44px;
    color: white;
    padding-top: 170px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
  }
  @include e('title-holder') {
    padding-bottom: 30px;
    display: inline-block;
    margin-right: 5%;
  }
  @include e('text') {
    display: inline-block;
    margin-right: 50px;
  }
  @include e('title-article') {
    font-size: 35px;
    color: #494949;
    line-height: 1.5;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    @include m('margin-top') {
      margin-top: 100px;
    }
  }
  @include e('description') {
    vertical-align: top;
    color: #4d626c;
  }
  @include e('paragraph') {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 26px;
  }
  @include e('location') {
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: top;
    color: #4d626c;
  }
  @include e('address') {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 10px;
    @include m('email') {
      padding-top: 25px;
    }
  }
  @include e('link') {
    text-decoration: none;
    color: $color-accent;
    font-weight: bold;
  }
  @include e('phone') {
    font-weight: bold;
    color: $color-accent;
  }
  @include e('form') {
    width: 40%;
    height: 500px;
    border: 1px solid black;
    display: inline-block;
  }

}
