@import "../../../resource/style/mixins";
.contact {
  height: 416px;
  background: url("../../../resource/style/img/contact-bg.png") no-repeat fixed center center;
  background-size: cover;
  position: relative;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: url("../../../resource/style/img/dotted-mask1.png") repeat repeat;
  }
  //@media screen and (max-width: $break-small) {
  //  background: url("../../../resource/style/img/contact-bg-mobile.png") no-repeat fixed center center;
  //}
  @include e('title') {
    font-weight: bold;
    font-size: 44px;
    color: white;
    padding-top: 170px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
  }
  @include e('title-holder') {
    padding-bottom: 30px;
    display: inline-block;
    margin-right: 5%;
  }
  @include e('text') {
    display: inline-block;
    margin-right: 50px;
    @media screen and (max-width: 890px ){
      width: 100%;

    }
    @media screen and (max-width: $break-large) {
      margin-right: 0;
    }
    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }
  @include e('title-article') {
    font-size: 35px;
    color: $color-main;
    line-height: 1.5;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    @include m('margin-top') {
      margin-top: 100px;
    }
  }
  @include e('description') {
    vertical-align: top;
    color: #4d626c;
  }
  @include e('paragraph') {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 26px;
  }
  @include e('location') {
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: top;
    color: #4d626c;
  }
  @include e('address') {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 10px;
    @include m('email') {
      padding-top: 25px;
    }
  }
  @include e('link') {
    text-decoration: none;
    color: $color-accent;
    font-weight: bold;
  }
  @include e('phone') {
    font-weight: bold;
    color: $color-accent;
    text-decoration: none;
  }
  @include e('form') {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    @media screen and (max-width: 890px ){
      width: 100%;
      margin-top: 30px;
    }
  }
  @include e('form-holder') {
   padding: 0 20px 0 20px;
    text-align: center;
  }
  @include e('form-title') {
    text-align: center;
    font-size: 2rem;
    color: $color-main;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 1.3;
    @media screen and (max-width: $break-large ){
      margin-left: 50px;
    }
    @media screen and (max-width: 890px ){
     margin-left: 0;
    }
  }
  @include e('input-box') {
    position: relative;
    left: 100px;
    @media screen and (max-width: 890px ){
      left: 50px;
    }
    @include m('margin-bottom') {
      margin-bottom: 20px;
    }
  }
  @include e('input') {
    width: 75%;
    padding: 10px 0;
    font-size: 16px;
    color: $color-main;
    margin-bottom: 30px;
    border: none;
    display: block;
    border-bottom: 1px solid $color-main;
    outline: none;
    &:not(:placeholder-shown) {
      border-color: $color-accent !important;
    }
  }
  @include e('form-label') {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    padding: 10px 0;
    color: $color-main;
    transition: .5s;
    pointer-events: none;
  }
}
.contact_form .contact_input-box input:focus {
  border-color: $color-accent;
}
.contact_form .contact_input-box input:focus ~ label,
.contact_form .contact_input-box input:valid ~ label{
  top: -18px;
  left: 0;
  font-size: 15px;
  color: $color-accent;


}
