<section class="contact">
  <h1 class="contact_title">Зв'яжіться з
    <span class="accent">нами</span>
  </h1>
</section>
<section class="parts-holder">
  <div class="content-wrapper">
    <div class="contact_text w45">
      <div class="contact_title-holder">
        <h2 class="contact_title-article">Ми
          <span class="accent">завжди</span>
          на зв'язку</h2>
      </div>
      <div class="contact_description">
        <p class="contact_paragraph">Якщо у Вас виникли якісь запитання, Ви завжди можете зв'язатись з нами по телефону або написавши нам на Viber або електронну пошту.</p>
        <p class="contact_paragraph">Наш менеджер відповість на усі Ваші запитання та надасть детальну інформацію щодо наших послуг.</p>
        <hr>
      </div>
      <div class="contact_location">
        <!--<p class="contact_address">м. Львів</p>-->
        <!--<p class="contact_address">р. Сихів</p>-->
        <!--<p class="contact_address">вул. Б-І. Антонича</p>-->
        <p class="contact_address contact_address__email">ел. пошта:
          <a class="contact_link" href="#">clinko@gmail.com</a>
        </p>
        <p class="contact_address">тел.
          <span class="contact_phone">067 993 70 43</span>
        </p>
      </div>
    </div>
    <div class="contact_form">
      <h3 class="first">Basic</h3>
      <input id="input" type="text" size="30" pInputText>
      <span id="text">some text</span>
    </div>
    </div>
</section>

