<header class="header-main">
  <span class="header-main_phone-number"><fa name="phone"></fa>‎067 993 70 43</span>
  <a href="#" class="header-main_social"><fa name="facebook-square"></fa></a>
  <a href="#" class="header-main_social header-main_social__last"><fa name="instagram"></fa></a>
</header>
<div class="header-position position-mark"></div>

<section class="navigation_wrapper">
  <div class="content-wrapper">
    <a href="#" class="navigation_logo"></a>
    <nav class="navigation">
      <a routerLink="/home" class="navigation_link">home</a>
      <a routerLink="/about" class="navigation_link">about us</a>
      <a routerLink="/services" class="navigation_link navigation_link__active">our services</a>
      <a routerLink="/contact" class="navigation_link">contact</a>
      <a class="navigation_link">our instagram</a>
    </nav>
  </div>
</section>
