<div #headerMark class="position-mark"></div>
<p-growl></p-growl>
<div [ngClass]="{'fixed-header_space': headerFixed || isMobileMenuActive}">
<!--<div>-->
  <div [ngClass]="{'fixed-header': headerFixed || isMobileMenuActive}">
  <!--<div>-->
    <header class="header-main">
      <a href="https://business.facebook.com/Clinko-601308473562787/" class="header-main_social"><fa name="facebook-square"></fa></a>
      <a href="https://www.instagram.com/clinko.ua/?hl=uk" class="header-main_social header-main_social__last"><fa name="instagram"></fa></a>
      <a href="tel:‎ 0984873234" class="header-main_phone-number"><fa name="phone"></fa>‎098 487 32 34</a>
    </header>
    <section class="navigation_wrapper" [ngClass]="{'navigation_wrapper-scroll': headerFixed || isMobileMenuActive}">
      <div class="navigation_flex-holder content-wrapper " [ngClass]="{'content-wrapper__full-width': headerFixed || isMobileMenuActive}">
        <a class="navigation_logo" [ngClass]="{'header_navigation_logo': headerFixed}" routerLink="/home"></a>
        <p-sidebar [(visible)]="showMobileMenu" position="right" >
          <nav class="navigation-mobile" [ngClass]="{'navigation__fixed': headerFixed}">
            <a routerLink="/home" routerLinkActive="navigation_link__active" class="navigation-mobile_link">головна</a>
            <a routerLink="/services" routerLinkActive="navigation_link__active" class="navigation-mobile_link">послуги та ціни</a>
            <a routerLink="/contact" routerLinkActive="navigation_link__active" class="navigation-mobile_link">контакти</a>
            <a routerLink="/about" routerLinkActive="navigation_link__active" class="navigation-mobile_link">про нас</a>
            <!--<a class="navigation_link">наш блог</a>-->
          </nav>
        </p-sidebar>
        <button class="navigation_mobile-button" (click)="mobileButton()" *ngIf="isMobileMenuActive"><fa name="fas fa-bars"></fa></button>
        <nav class="navigation" *ngIf="!isMobileMenuActive" [ngClass]="{'navigation__fixed': headerFixed}">
          <a routerLink="/home" routerLinkActive="navigation_link__active" class="navigation_link">головна</a>
          <a routerLink="/services" routerLinkActive="navigation_link__active" class="navigation_link">послуги та ціни</a>
          <a routerLink="/contact" routerLinkActive="navigation_link__active" class="navigation_link">контакти</a>
          <a routerLink="/about" routerLinkActive="navigation_link__active" class="navigation_link">про нас</a>
          <!--<a class="navigation_link">наш блог</a>-->
        </nav>
      </div>
    </section>
  </div>
</div>


