@import "../../../resource/style/mixins";
.header-main {
  height: 40px;
  background: $color-accent;
  padding: 0 30px;
  text-align: right;
  @media screen and (max-width: 890px) {
    height: 30px;
  }
  @include e('phone-number') {
    font-size: 22px;
    color: $color-main;
    line-height: 40px;
    font-family: Oswald, Verdana, sans-serif;
    @media screen and (max-width: 890px) {
      line-height: 30px;
      font-size: 19px;
    }
  }
  @include e('social') {
    line-height: 40px;
    font-size: 23px;
    color: $color-main;
    text-decoration: none;
    float: left;
    @include m('last') {
      margin-left: 12px;
    }
    @media screen and (max-width: 890px) {
      line-height: 30px;
      font-size: 20px;
    }
  }
}
.fixed-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1010;
  height: auto;
  border-bottom: 2px solid $color-main;
  @include e('space') {
    height: 85px;
    transition: all 150ms;
  }
  .navigation {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 30px;
    @include e('flex-holder') {
      display: flex;
      justify-content: space-between;
    }
    @include e('logo') {
      margin: 3px 0 1px 0;
      transition: all 150ms;
      width: 76px;
      height: 46px;
      background-size: cover;
      @media screen and (max-width: $break-large) {
        margin-left: 0;
      }
    }
  }
  @include e('wrapper-scroll') {
    padding-bottom: 0;
  }

}
.navigation {
  @include e('wrapper') {
    padding: 0 0 28px 0;
    background: #fff;
    text-align: center;
  }
  @include e('wrapper-scroll') {
    padding-bottom: 5px;
  }
  @include e('logo') {
    display: inline-block;
    vertical-align: top;
    margin: 36px 0 36px 0;
    width: 204px;
    height: 125px;
    background: url("../../../resource/style/img/clinko_logo.png") no-repeat 0 0;
    background-size: cover;
    transition: all 150ms;
  }
  @include e('link') {
    font-size: 20px;
    color: $color-main;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;
    text-decoration: none;
    &:hover {
      color: $color-accent;
    }
    @include m('active') {
      color: $color-accent;
    }
  }

  @include e('mobile-button') {
    font-size: 30px;
    background: transparent;
    line-height: 0;
    color: $color-main;
    border: none;
    outline: none;
    &:hover {
      color: $color-accent;
    }
  }
}
.ui-widget-content a {
  font-size: 20px;
  color: $color-accent;
  text-transform: uppercase;
  display: block;
  padding: 14px 0;
  text-decoration: none;
  &.navigation_link__active,
  &:hover {
    color: #ffffff;
  }
}
.ui-widget-content {
  background: $color-main;
  padding: 38px 0 0 43px;
}
.ui-sidebar .ui-sidebar-close {
  font-size: 25px;
  position: relative;
  top: -29px;
  right: 25px;
  color: $color-accent;
  &:hover {
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
  }
}


