<section class="about">
  <h1 class="about_title">про
    <span class="accent">нас</span>
  </h1>
</section>
<section class="parts-holder">
  <div class="content-wrapper">
    <div class="flex-row">
      <h2 class="about_title-article">БРУДНО?
        <span class="accent w30">ТЕЛЕФОНУЙТЕ</span>
        НАМ!
      </h2>
      <article class="about_description">
        <p class="about_paragraph">В такому шаленому ритмі
          життя іноді не залишається часу для домашніх справ, а чистота в оселі це запорука здоров'я та затишку Вашої родини.</p>
        <p class="about_paragraph">Чому б не довірити цю
          "нечисту" справу професіоналам? </p>
        <p class="about_paragraph">Звільнити
          Вас від повсякденних домашніх клопотів та подарувати Вам більше вільного часу, є однією з наших головних цілей.
          Ми пропонуємо широкий спектр послуг з прибирання та хімчистки у Львові. Нашою перевагою є не лише професійні миючі засоби та обладнання, а й команда наших клінерів-спеціалістів.
          Кожен з наших клінерів проходить навчання та підготовку.
        </p>
      </article>
    </div>
    <div class="flex-row flex-row__end">
      <!--<div class="about_img"></div>-->
      <article class="about_description">
        <h2 class="about_title-article">НАША <span class="accent"> МЕТА</span></h2>
        <p class="about_paragraph">Це бездоганна чистота.
          Ми віримо в те, що лише якісно виконана робота - це запорука Вашої довіри. </p>
        <button class="clinko-button clinko-button__about">
          наші послуги
          <fa name="angle-double-right"></fa>
        </button>
      </article>
    </div>
  </div>
</section>
