<section class="about">
  <h1 class="about_title">про
    <span class="accent">нас</span>
  </h1>
</section>
<section class="parts-holder">
  <div class="content-wrapper">
    <div class="about_title-holder w30">
      <h2 class="about_title-article">INTEGRITY<br> AND<br>
        <span class="accent">EXCELLENCE</span>
      </h2>
    </div>
    <article class="about_description w60">
      <p class="about_paragraph">В такому шаленому ритмі життя іноді не залишається часу для домашніх справ, а чистота в оселі це запорука здоров'я та затишку Вашої родини.</p>
      <p class="about_paragraph">Чому б не довірити цю "нечисту" справу професіоналам? </p>
      <p class="about_paragraph">Звільнити Вас від повсякденних домашніх клопотів та подарувати Вам більше вільного часу, є однією з наших головних цілей.
        Ми пропонуємо широкий спектр послуг з прибирання та хімчистки.
        Ми використовуємо лише професійну хімію та обладнання.</p>
    </article>
    <div class="about_img"></div>
    <article class="about_description w60">
      <h2 class="about_title-article about_title-article__margin-top">НАША <span class="accent"> МЕТА</span></h2>
      <p class="about_paragraph about_paragraph__margin-bottom">Це бездоганна чистота.
        Ми віримо в те, що лише якісно виконана робота - це запорука Вашої довіри. </p>
      <button class="clinko-button">
        наші послуги
        <fa name="angle-double-right"></fa>
      </button>
    </article>
  </div>
</section>
