<section class="about">
  <h1 class="about_title">про
    <span class="accent">нас</span>
  </h1>
</section>
<section class="parts-holder">
  <div class="content-wrapper">
    <div class="flex-row">
      <p class="about_title-article">БРУДНО?
        <span class="accent w30">ТЕЛЕФОНУЙТЕ</span>
        НАМ!
      </p>
      <article class="about_description">
        <p class="about_paragraph">Вас вітає клінінгова компанія <span class="accent">Clinko.</span></p>
        <h1 class="about_paragraph">Пропонуємо Вам послуги з прибирання та дезінфекції
          приміщень житлового та комерційного призначення квартири, офіси, готелі, кафе, ресторани, клуби, стортзали і т. д.
          Крім миття, прибирання і дезінфекції приміщень виконуємо хімчистку м'яких меблів, ковроліну, килимів тощо.
          Чистимо місця сильних забруднень, таких, як духовки, грилі, решітки, витяжки.</h1>
        <p class="about_paragraph">Всі роботи виконують добросовісні і кваліфіковані майстри. </p>
        <p class="about_paragraph">Для досягнення максимально ефективного результату ми використовуємо
          профксійне обладнання фірми "Kerhcer" ( миючий пилосос, сухий пилосос збільшеного об'єму, парогенератор).
          Також використовуємо професійні хімічні концентрати для миючих і дезинфікуючих розчинів " MERIDA", "KARHCER".</p>
        <p class="about_paragraph"></p>
      </article>
    </div>
    <div class="flex-row flex-row__end">
      <!--<div class="about_img"></div>-->
      <article class="about_description">
        <h2 class="about_title-article">НАША <span class="accent"> МЕТА</span></h2>
        <p class="about_paragraph">Це бездоганна чистота.
          Ми віримо в те, що лише якісно виконана робота - це запорука Вашої довіри. </p>
        <button class="clinko-button clinko-button__about" routerLink="/services">
          наші послуги
          <fa name="angle-double-right"></fa>
        </button>
      </article>
    </div>
  </div>
</section>
