@import "../../../resource/style/mixins";
.about {
  height: 416px;
  background: url("../../../resource/style/img/aboutUs-bg-m.jpg") no-repeat fixed center center;
  background-size: cover;
  position: relative;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: url("../../../resource/style/img/dotted-mask1.png") repeat repeat;
  }
  @media screen and (max-width: 500px) {
    background-size: cover!important;
    background: url("../../../resource/style/img/aboutUs-bg-s.jpg") no-repeat fixed center center;
  }

  @media screen and (min-width: 1350px) {
    background-size: cover!important;
    background: url("../../../resource/style/img/aboutUs-bg.png") no-repeat fixed center center;
  }
  @include e('title') {
    font-weight: bold;
    font-size: 44px;
    color: white;
    padding-top: 170px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
  }
  @include e('title-article') {
    font-size: 5vh;
    color: #494949;
    line-height: 1.5;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    @media screen and (max-width: $break-medium){
      margin-bottom: 20px;
    }
  }
  @include e('description') {
    display: inline-block;
    vertical-align: top;
    color: #4d626c;
    margin-left: 50px;
    @media screen and (max-width: $break-medium){
      width: 100%;
      margin-left: 0;
    }
  }
  @include e('paragraph') {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 26px;
  }
}
.flex-row {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 50px;
  @include m('end') {
    text-align: center;
    justify-content: center;
  }
  @media screen and (max-width: $break-medium){
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}


