$color-accent: #fbba00;
$color-main: #4d626c;
$color-bg: #ededed;

$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;

@mixin e($element) {
  &_#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &__#{$modifier} {
    @content;
  }
}
@mixin clear-text() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.profile-pic {
  float: left;
  width: 250px;
  @media screen and (max-width: $break-small) {
    width: 100px;
    float: none;
  }
}
.pull-left {
  float: left
}
.pull-right {
  float: right;
}
@mixin float-label-container {
  display: block;
  position: relative;
}

@mixin float-label {
  label, > span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    transition: all .2s;
    @content;
  }
}

@mixin float-label-input {
  &::placeholder {
    opacity: 1;
    transition: all .2s;
  }
  &:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
  }
}

@mixin float-label-scaled {
  &:placeholder-shown:not(:focus) + * {
    font-size: 150%;
    opacity: .5;
    @content;
  }
}
