<section class="home">
  <div class="content-wrapper">
    <h2 class="home_title">живи на повну
      <span class="accent">ми</span>
      все приберемо!</h2>
    <button class="clinko-button clinko-button__transparent" routerLink="/contact">
      замовити прибирання
      <fa name="angle-double-right"></fa>
    </button>
  </div>
</section>
<section class="services-boxes">
  <h1 class="services-boxes_title">НАШІ <span class="accent">ПОСЛУГИ</span></h1>
  <div class="content-wrapper services-boxes_content-wrapper">
    <a href="#1" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__house"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Прибирання квартир</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
    <a href="#2" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__window"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Миття скляних поверхонь</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
    <a href="#3" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__carpet"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Хімчистка килимів та килимових покриттів</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
    <a href="#3" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__furniture"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">хімчистка м'яких та шкіряних меблів</h4>
      </div>
    </a>
    <a href="#4" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__repair-room"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Прибирання після ремонту</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
    <div class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__tile"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Чистка плитки</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </div>
  </div>
</section>
<section class="intro">
  <h3 class="intro_title">ЯК <span class="accent">МИ</span> ПРАЦЮЄМО</h3>
  <div class="content-wrapper intro_content-wrapper">
    <div class="intro_case">
      <h4 class="intro_case-title">Ви<br> замовляєте <br>послугу</h4>
      <fa name="arrow-right" class="intro_arrow"></fa>
    </div>
    <div class="intro_case">
      <h4 class="intro_case-title">Ми<br> оцінюємо <br>та повідомляємо вартість</h4>
      <fa name="arrow-right" class="intro_arrow"></fa>
    </div>
    <div class="intro_case">
      <h4 class="intro_case-title">Ми<br> виконуємо <br>замовлення</h4>
      <fa name="arrow-right" class="intro_arrow"></fa>
    </div>
    <div class="intro_case">
      <h4 class="intro_case-title">Ви<br> перевіряєте <br>та оплачуєте</h4>
    </div>
  </div>
</section>
<section *ngIf="false" class="additional">
  <div class="additional_left-part">
      <h2 class="additional_title">ЧОМУ <span class="accent">ОБИРАЮТЬ</span> НАС?</h2>
      <h3 class="additional_sub-title">Ми надаємо широкий спектр послуг професійного прибирання.</h3>
      <button class="clinko-button clinko-button__transparent">
        наші послуги
        <fa name="angle-double-right"></fa>
      </button>
    </div>
  <div class="additional_right-part">
      <h4 class="additional_small-title">ПЕРЕВІРЕНИЙ ПЕРСОНАЛ</h4>
      <p>Ми ретельно перевіряємо та навчаємо кожного клінера</p>
      <h4 class="additional_small-title">СТРАХУВАННЯ ТА БЕЗПЕКА</h4>
      <p>100% матеріальна відповідальність.</p>
      <h4 class="additional_small-title">ГАРАНТІЯ ЯКОСТІ</h4>
      <p>Ми виконуємо кожне замовлення по регламенту та швидко відгукуємося на будь-які пропозиції і скарги</p>
      <h4 class="additional_small-title">ФІКСОВАНА ВАРТІСТЬ ПОСЛУГ</h4>
      <p>Ми завчасно повідомляємо про варатість послуг та фіксуємо її.</p>
    </div>
</section>
<section class="prices">
  <div class="content-wrapper">
    <div class="prices_description">
      <h2 class="prices_description-title">
        НАШІ <span class="accent">ЦІНИ</span>
      </h2>
    </div>
    <div class="prices_list" >
      <p-panel styleClass="clinko-panel" *ngIf="false" header="Генеральне прибирання" [toggleable]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
        </table>
      </p-panel>
      <p-panel styleClass="clinko-panel" header="Миття вікон / Віконних рам" id="2" [toggleable]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Двостулкове вікно</td>
            <td class="prices_list-item">75 грн.</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Двостулкове вікно (з хімчисткою віконної рами)</td>
            <td class="prices_list-item">150 грн.</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Тристулкове вікно з одним відкриванням</td>
            <td class="prices_list-item">125 грн.</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Тристулкове вікно з одним відкриванням (з хімчисткою віконної рами)</td>
            <td class="prices_list-item">250 грн.</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Балконні вікна</td>
            <td class="prices_list-item">250 грн.</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Балконні вікна (з хімчисткою віконної рами)</td>
            <td class="prices_list-item">500 грн.</td>
          </tr>
        </table>
      </p-panel>
      <p-panel styleClass="clinko-panel" header="Хімчистка текстильних поверхонь" [toggleable]="true" id="3" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Диван шкіряний</td>
            <td class="prices_list-item">500 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Диван кутовий</td>
            <td class="prices_list-item">500 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Диван єврокнижка</td>
            <td class="prices_list-item">400 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Матрац двоспальний</td>
            <td class="prices_list-item">400 грн.</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Матрац односпальний</td>
            <td class="prices_list-item">300 грн.</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Офісне крісло</td>
            <td class="prices_list-item">50 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Стілець звичайний</td>
            <td class="prices_list-item">30 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Хімчистка килима на дому (1м²)</td>
            <td class="prices_list-item">30 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Хімчистка ковроліну (1м²)</td>
            <td class="prices_list-item">20 грн</td>
          </tr>
        </table>
      </p-panel>
      <p-panel styleClass="clinko-panel clinko-panel__double-price" header="Прибирання після ремонту" id="4" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Однокімнатна квартира (до 40м²)</td>
            <td class="prices_list-item">600-950 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Двохкімнатна квартира (40-70м²)</td>
            <td class="prices_list-item">1000-1300 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Трикімнатна квартира (70-100м²)</td>
            <td class="prices_list-item">1200-1800 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Багатокімнатні квартири, понад (100м²)</td>
            <td class="prices_list-item">за домовленістю</td>
          </tr>
        </table>
      </p-panel>
      <p-panel styleClass="clinko-panel clinko-panel__double-price" header="Генеральне прибирання" id="1" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Однокімнатна квартира (до 40м²)</td>
            <td class="prices_list-item">400-500 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Двохкімнатна квартира (40-70м²)</td>
            <td class="prices_list-item">500-700 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Трикімнатна квартира (70-100м²)</td>
            <td class="prices_list-item">700-900 грн</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Багатокімнатні квартири, понад (100м²)</td>
            <td class="prices_list-item">за домовленістю</td>
          </tr>
        </table>
      </p-panel>
    </div>

    <div class="prices_additional">
      <p class="prices_text"><strong class="accent">Важливо:</strong> Вказані ціни можуть корегуватись по прибутті на об'єкт, формування ціни залежить від багатьох чинників</p>
      <p class="prices_text">Виникли питання?<br> Телефонуйте або напишіть нам на Viber за більш детальною інформацією.</p>
      <p class="prices_text prices_text__bold">
        <span class="prices_phone">наш тел. <fa name="phone"></fa>‎098 487 32 34</span>
      </p>
    </div>
  </div>
</section>

