<section class="services-bg"></section>

<section class="parts-holder">
  <div class="content-wrapper">
    <div class="double-image w50">
      <div class="double-image_image-holder double-image_image-holder__left double-image_image-holder__top">
        <img src="../assets/services_demo.jpg">
      </div>
      <div class="double-image_image-holder double-image_image-holder__right double-image_image-holder__bottom">
        <img src="../assets/services_demo1.jpg">
      </div>
    </div>
    <article class="info w50">
      <h2 class="info_title-major">
        <span class="info_title-label info_title-accent">OUR SERVICES</span>
        COMMERCIAL
        <span class="info_title-accent">
        JANITORIAL
      </span>
      </h2>
      <h3 class="info_title-minor">
        What’s included with commercial
        cleaning services?
      </h3>
      <p class="info_paragraph">A basic or “regular” commercial cleaning service
        includes dusting, vacuuming, mopping and trash
        removal.
      </p>
      <p class="info_paragraph">
        In addition to standard dusting and wiping,
        Clinko includes dusting high touch points, desktop
        telephones, microwaves (inside and outside), window
        sills and other items overlooked by most commercial
        cleaning companies.
      </p>
      <button class="clinko-button">
        GET QUOTE NOW
        <fa name="angle-double-right"></fa>
      </button>
    </article>
  </div>
</section>

<section class="services-list">
  <div class="parts-holder content-wrapper">
    <article class="info info__services-list w41">
      <h2 class="info_title-major">
        CLINKO<br />
        <span class="info_title-accent">
        WAY...
      </span>
      </h2>
      <p class="info_paragraph info_paragraph__services-list">
        We are committed to
        providing quality Janitorial &
        Maintenance Services that
        Deliver the highest levels of
        customer satisfaction.
      </p>
      <button class="clinko-button">
        GET QUOTE NOW
        <fa name="angle-double-right"></fa>
      </button>
    </article>
    <div class="services-list_lists-holder w59">
      <ul class="services-list_list w50">
        <li class="services-list_option">dusting</li>
        <li class="services-list_option">disinfecting</li>
        <li class="services-list_option">mopping</li>
        <li class="services-list_option">vacuuming</li>
      </ul>
      <ul class="services-list_list w50">
        <li class="services-list_option">restroom cleaning</li>
        <li class="services-list_option">kitchen cleaning</li>
        <li class="services-list_option">window cleaning</li>
        <li class="services-list_option">trash removal</li>
      </ul>
    </div>
  </div>
</section>

<section class="promotion">
  <h2 class="promotion_title">
    WE ARE ENVIRONMENTALLY<br />
    AND HEALTHY <span class="accent">CONSCIENCE</span><br />
    WITH ALL OF OUR CLEANING<br />
    PROTOCOLS AND PRODUCTS.
  </h2>
  <button class="clinko-button">
    GET CLINKO CLEAN TODAY
    <fa name="angle-double-right"></fa>
  </button>
</section>

<section class="services-list services-list__white-bg">
  <div class="parts-holder parts-holder__services-list content-wrapper">
    <article class="info info__shorten w50">
      <h2 class="info_title-major info_title-major__space-bottom">
        <span class="info_title-label info_title-accent">OUR SERVICES</span>
        CARPET AND<br/>
        FLOOR<br/>
        <span class="info_title-accent">
        CLEANING
      </span>
      </h2>
      <p class="info_paragraph">
        <b>Encapsulation Carpet Cleaning fixes common
          commercial carpet cleaning problems</b>
        It eliminates recurring spill stains and wicking.
        The crystallizing polymer encapsulates soil so it can
        be extracted with routine vacuuming.
        There is no sticky residue so it can’t attract soil.
        What you’ll see is incredibly bright and clean carpet,
        day-in day-out.
      </p>
      <p class="info_paragraph">
        <b>Maintaining Hard-Surface Floors</b>
        Although hard surface floors can be extremely
        durable, they require proper maintenance to
        preserve their resilience and luster. With our
        customized floor maintenance program, we can
        protect your company’s floor and keep it looking
        like new.
      </p>
      <button class="clinko-button">
        GET QUOTE NOW
        <fa name="angle-double-right"></fa>
      </button>
    </article>

    <div class="double-image w50">
      <div class="double-image_image-holder double-image_image-holder__left double-image_image-holder__bottom">
        <img src="../assets/services_demo2.jpg">
      </div>
      <div class="double-image_image-holder double-image_image-holder__right double-image_image-holder__top">
        <img src="../assets/services_demo3.jpg">
      </div>
    </div>
  </div>
</section>

<section class="services-list">
  <div class="parts-holder parts-holder__promotion content-wrapper">
    <article class="info info__services-list w41">
      <h2 class="info_title-major">
        CARPET<br />
        AND FLOOR<br />
        CARE<br />
        <span class="info_title-accent">
        SERVICES
      </span>
      </h2>
      <p class="info_paragraph info_paragraph__services-list">
        <b>Deodorize & Odorize Carpets:</b>
        Clinko uses safe and effective tools
        for eliminating tough odors caused by
        smoke, pets and food. Once the bad
        odor is gone, all that will be left is a
        fresh minty smell.
      </p>
      <p class="info_paragraph info_paragraph__services-list info_paragraph__pull-top">
        <b>REMOVING GUM FROM CARPETS:</b>
        Clinko's unique carpet cleaning
        system disappears any type of sticky
        residue in most carpet types. Works
        great for chewing gum, bubble gum,
        candle wax, tar, candy, adhesives, etc.
      </p>
      <button class="clinko-button">
        GET QUOTE NOW
        <fa name="angle-double-right"></fa>
      </button>
    </article>
    <div class="services-list_lists-holder w59">
      <ul class="services-list_list w50">
        <li class="services-list_option">DEODORIZING CARPETS</li>
        <li class="services-list_option">ODORIZING CARPETS</li>
        <li class="services-list_option">DISINFECTING CARPET</li>
        <li class="services-list_option">GUM REMOVAL</li>
      </ul>
      <ul class="services-list_list w50">
        <li class="services-list_option">FLOOR STRIPPING AND WAXING</li>
        <li class="services-list_option">FLOOR SCRUBBING AND REFINISHING</li>
        <li class="services-list_option">FLOOR BUFFING / BURNISHING</li>
        <li class="services-list_option">FLOOR POLISHING</li>
      </ul>
    </div>
  </div>
</section>
