<section class="home">
  <div class="content-wrapper">
    <h1 class="home_title">Генеральні <span class="accent">прибирання,</span> <br> прибирання <span class="accent"> після</span> ремонту <br> у Львові</h1>
    <button class="clinko-button"  aria-label="замовити прибирання" routerLink="/замовити-прибирання-львів">
      замовити прибирання
      <fa name="angle-double-right"></fa>
    </button>
  </div>
</section>
<section class="services-boxes">
  <h1 class="services-boxes_title">КЛІНІНГОВІ <span class="accent">ПОСЛУГИ</span></h1>
  <div class="content-wrapper services-boxes_content-wrapper">
    <a class="services-boxes_item"  >
      <div class="services-boxes_img services-boxes_img__house"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Прибирання квартир</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
    <a href="" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__window"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Миття скляних поверхонь</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
    <a href=""  class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__carpet"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Хімчистка килимів та килимових покриттів</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
    <a href="" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__furniture"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">хімчистка м'яких та шкіряних меблів</h4>
      </div>
    </a>
    <a href="" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__repair-room"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Прибирання після ремонту</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
    <a href="" class="services-boxes_item">
      <div class="services-boxes_img services-boxes_img__tile"></div>
      <div class="services-boxes_desc">
        <h4 class="services-boxes_img-title">Чистка плитки</h4>
        <!--<p class="services-boxes_img-text">A basic or “regular”-->
          <!--commercial cleaning </p>-->
      </div>
    </a>
  </div>
</section>
<section class="intro">
  <h3 class="intro_title">ЯК <span class="accent">МИ</span> ПРАЦЮЄМО</h3>
  <div class="content-wrapper intro_content-wrapper">
    <div class="intro_case">
      <h4 class="intro_case-title">Ви<br> замовляєте <br>послугу</h4>
      <fa name="arrow-right" class="intro_arrow"></fa>
    </div>
    <div class="intro_case">
      <h4 class="intro_case-title">Ми<br> оцінюємо <br>та повідомляємо вартість</h4>
      <fa name="arrow-right" class="intro_arrow"></fa>
    </div>
    <div class="intro_case">
      <h4 class="intro_case-title">Ми<br> виконуємо <br>замовлення</h4>
      <fa name="arrow-right" class="intro_arrow"></fa>
    </div>
    <div class="intro_case">
      <h4 class="intro_case-title">Ви<br> перевіряєте <br>та оплачуєте</h4>
    </div>
  </div>
</section>


<section *ngIf="false" class="additional">
  <div class="additional_left-part">
      <h2 class="additional_title">ЧОМУ <span class="accent">ОБИРАЮТЬ</span> НАС?</h2>
      <h3 class="additional_sub-title">Ми надаємо широкий спектр послуг професійного прибирання.</h3>
    <button class="clinko-button"  aria-label="замовити прибирання" routerLink="/замовити-прибирання-львів">
      замовити прибирання
      <fa name="angle-double-right"></fa>
    </button>
    </div>
  <div class="additional_right-part">
      <h4 class="additional_small-title">ПЕРЕВІРЕНИЙ ПЕРСОНАЛ</h4>
      <p>Ми ретельно перевіряємо та навчаємо кожного клінера</p>
      <h4 class="additional_small-title">СТРАХУВАННЯ ТА БЕЗПЕКА</h4>
      <p>100% матеріальна відповідальність.</p>
      <h4 class="additional_small-title">ГАРАНТІЯ ЯКОСТІ</h4>
      <p>Ми виконуємо кожне замовлення по регламенту та швидко відгукуємося на будь-які пропозиції і скарги</p>
      <h4 class="additional_small-title">ФІКСОВАНА ВАРТІСТЬ ПОСЛУГ</h4>
      <p>Ми завчасно повідомляємо про варатість послуг та фіксуємо її.</p>
    </div>
</section>



<section class="prices">
  <div class="content-wrapper">
    <div class="prices_description">
      <h1 class="prices_description-title">
        <span class="accent">ЦІНИ</span> НА ПРИБИРАННЯ
      </h1>
    </div>
    <div class="prices_list" >
      <p-panel styleClass="clinko-panel"
               #flatCleaning
               header="Генеральне прибирання"
               [toggleable]="true"
               [collapsed] = 'isPricesColapsed'
               [style]="{'margin-bottom':'50px'}">
        <p-tabView>
          <p-tabPanel header="Про прибирання">
            <div class="prices_desc-container">
              <div class="prices_tab-content-wrapper">
                <ul class="prices_tab-content" >
                  <li class="prices_tab-content-item" *ngFor="let descList of flatCleaningInfo.mainInfo" >{{descList}}</li>
                </ul>
              </div>
            </div>

            <!--      start      hidden container-->
            <div class="prices_additional-row" *ngIf="flatCleaningInfo.additionalInfo">
              <ul class="prices_additionalDesc-list" *ngFor="let service of flatCleaningInfo.additionalInfo">
                <span class="prices_addServicesTitle">{{service.name}}</span>
                <li class="prices_additionalDesc-item"*ngFor="let item of service.services">{{item}} </li>
              </ul>
            </div>
            <!--      end    hidden container-->
          </p-tabPanel>

          <p-tabPanel header="Ціни">
            <div class="prices_price-row" *ngFor="let info of flatCleaningInfo.prices">
              <p class="prices_service-name">{{info.name}}</p>
              <p class="prices_service-name">{{info.price}}</p>
            </div>
          </p-tabPanel>
        </p-tabView>
      </p-panel>

<!--прибирання аісля ремонту-->

      <p-panel styleClass="clinko-panel"
               header="Прибирання після ремонту"
               #afterRepairCleaning
               id="afterRepairCleaning"
               [toggleable]="true"
               [collapsed] = 'isPricesColapsed'
               [style]="{'margin-bottom':'50px'}">
        <p-tabView>
          <p-tabPanel header="Про прибирання">
            <div class="prices_desc-container">
              <div class="prices_tab-content-wrapper">
                <ul class="prices_tab-content" >
                  <li class="prices_tab-content-item" *ngFor="let descList of cleaningAfterRepair.mainInfo" >{{descList}}</li>
                </ul>
              </div>
            </div>

            <!--      start      hidden container-->
            <div class="prices_attention-info-holder">
              <span class="accent fontBold">Важливо:</span>
              <span class="prices_attention-info">
                {{cleaningAfterRepair.attentionInfo}}
              </span>
            </div>
            <!--      end    hidden container-->
          </p-tabPanel>

          <p-tabPanel header="Ціни">
            <div class="prices_price-row" *ngFor="let info of cleaningAfterRepair.prices">
              <p class="prices_service-name">{{info.name}}</p>
              <p class="prices_service-name">{{info.price}}</p>
            </div>
          </p-tabPanel>
        </p-tabView>
      </p-panel>

<!--      періодичне прибирання квартир-->

      <p-panel styleClass="clinko-panel"
               header="Періодичне прибирання квартир"
               [toggleable]="true"
               [collapsed] = 'isPricesColapsed'
               [style]="{'margin-bottom':'50px'}">
        <p-tabView>
          <p-tabPanel header="Про прибирання">
            <div class="prices_desc-container">
              <div class="prices_tab-content-wrapper">
                <ul class="prices_tab-content" >
                  <li class="prices_tab-content-item" *ngFor="let descList of regularCleaning.mainInfo" >{{descList}}</li>
                </ul>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Ціни">
            <div class="prices_price-row" *ngFor="let info of regularCleaning.prices">
              <p class="prices_service-name">{{info.name}}</p>
              <p class="prices_service-name">{{info.price}}</p>
            </div>
            <div class="prices_attention-info-holder">
              <span class="accent fontBold">Важливо:</span>
              <span class="prices_attention-info">
                {{regularCleaning.attentionInfo}}
              </span>
            </div>
          </p-tabPanel>
        </p-tabView>
      </p-panel>

<!--      Хімчтстка-->
      <p-panel styleClass="clinko-panel"
               header="Хімчистка текстильних поверхонь"
               [toggleable]="true"
               [collapsed] = 'isPricesColapsed'
               [style]="{'margin-bottom':'50px'}">
        <p-tabView>
          <p-tabPanel header="Як ми прибираємо" *ngIf="false">
            <div class="prices_desc-container">
              <div class="prices_tab-content-wrapper">
                <ul class="prices_tab-content" >
                  <li class="prices_tab-content-item" *ngFor="let descList of regularCleaning.mainInfo" >{{descList}}</li>
                </ul>
              </div>
            </div>
          </p-tabPanel>

<!--          <p-tabPanel header="Ціни">-->
            <div class="prices_price-row" *ngFor="let info of carpetCleaning.prices">
              <p class="prices_service-name">{{info.name}}</p>
              <p class="prices_service-name">{{info.price}}</p>
            </div>
<!--          </p-tabPanel>-->
        </p-tabView>
      </p-panel>

<!--      Миття вікон / Віконних рам-->
      <p-panel styleClass="clinko-panel"
               header="Миття вікон / Віконних рам"
               [toggleable]="true"
               [collapsed] = 'isPricesColapsed'
               [style]="{'margin-bottom':'50px'}">
        <p-tabView>
          <p-tabPanel header="Як ми прибираємо" *ngIf="false">
            <div class="prices_desc-container">
              <div class="prices_tab-content-wrapper">
                <ul class="prices_tab-content" >
                  <li class="prices_tab-content-item" *ngFor="let descList of regularCleaning.mainInfo" >{{descList}}</li>
                </ul>
              </div>
            </div>
          </p-tabPanel>

<!--          <p-tabPanel header="Ціни">-->
            <div class="prices_price-row" *ngFor="let info of windowCleaning.prices">
              <p class="prices_service-name">{{info.name}}</p>
              <p class="prices_service-name">{{info.price}}</p>
            </div>
<!--          </p-tabPanel>-->
        </p-tabView>
      </p-panel>

<!--      Додаткові послуги-->
      <p-panel styleClass="clinko-panel"
               header="Додаткові послуги"
               [toggleable]="true"
               [collapsed] = 'isPricesColapsed'
               [style]="{'margin-bottom':'50px'}">
        <p-tabView>
          <p-tabPanel header="Як ми прибираємо" *ngIf="false">
            <div class="prices_desc-container">
              <div class="prices_tab-content-wrapper">
                <ul class="prices_tab-content" >
                  <li class="prices_tab-content-item" *ngFor="let descList of regularCleaning.mainInfo" >{{descList}}</li>
                </ul>
              </div>
            </div>
          </p-tabPanel>

          <!--          <p-tabPanel header="Ціни">-->
          <div class="prices_price-row" *ngFor="let info of additionalServices.prices">
            <p class="prices_service-name">{{info.name}}</p>
            <p class="prices_service-name">{{info.price}}</p>
          </div>
          <!--          </p-tabPanel>-->
        </p-tabView>
      </p-panel>

    </div>
    <div class="prices_additional">
      <p class="prices_text"><strong class="accent">Важливо:</strong> Вказані ціни можуть корегуватись по прибутті на об'єкт, формування ціни залежить від ступеню забруднення</p>
      <p class="prices_text">Виникли питання?<br> Телефонуйте або напишіть нам на Viber за більш детальною інформацією.</p>
      <p class="prices_text prices_text__bold">
        <span class="prices_phone">наш тел. <fa name="phone"></fa>063 61 59 886</span>
      </p>
    </div>
  </div>
</section>
