@import "../../../resource/style/mixins";

.home {
  height: 416px;
  background: url("../../../resource/style/img/home.png") no-repeat fixed center center;
  background-size: cover;
  position: relative;
  text-align: center;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: url("../../../resource/style/img/dotted-mask1.png") repeat repeat;
  }
  @include e('title') {
    font-weight: bold;
    font-size: 44px;
    color: white;
    padding-top: 150px;
    text-align: center;
    vertical-align: top;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}
.services-list {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  @include e('title') {
    font-weight: bold;
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 100px;
    color: $color-main;
  }
  @include e('item') {
    width: 25%;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
    vertical-align: top;
    overflow: hidden;
    box-shadow: 5px 5px 15px #888888;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s all;
      box-shadow: 10px 10px 20px #888888;
    }
  }
  @include e('img'){
    background: url("../../../resource/style/img/additional-bg.png") center;
    background-size: cover;
    width: 100%;
    height: 250px;
    display: inline-block;
    @include m('house') {
      background: url("../../../resource/style/img/house-cleaning.png")center left;
    }
    @include m('window') {
      background: url("../../../resource/style/img/window.png")center;
      background-size: cover;
    }
    @include m('carpet') {
      background: url("../../../resource/style/img/carpet.png")center;
      background-size: cover;
    }
    @include m('furniture') {
      background: url("../../../resource/style/img/furniture.png")center;
      background-size: cover;
    }
    @include m('repair-room') {
      background: url("../../../resource/style/img/room-cleaning.png")center;
      background-size: cover;
    }
    @include m('restaurant') {
      background: url("../../../resource/style/img/restaurant.png")center;
      background-size: cover;
    }
  }
  @include e('desc') {
    //border: 1px solid black;
    padding: 10px;
    line-height: 1.5;
    position: relative;
    top: -25px;
    background: #ffffff;
    display: inline-block;
  }
  @include e('img-title') {
    font-size: 20px;
    color: $color-accent;
  }
  @include e('img-text') {
    font-size: 15px;
    color: $color-main;
  }
}

.additional {
  height: 416px;
  background: url("../../../resource/style/img/additional-bg.png") no-repeat fixed bottom center;
  background-size: cover;
  position: relative;
  text-align: center;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #000000;
    opacity: 0.3;
  }
  @include e('left-part') {
    width: 49%;
    display: inline-block;
    padding-top: 120px;
    vertical-align: top;
    color: white;
  }
  @include e('right-part') {
    width: 50%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
    display: inline-block;
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 25px 60px 20px 50px;
    line-height: 1.5;
  }
  @include e('title') {
    font-weight: bold;
    font-size: 44px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
  }
  @include e('sub-title') {
    font-size: 19px;
    margin-top: 35px;
    position: relative;
    margin-bottom: 30px;
  }
  @include e('small-title') {
    color: $color-accent;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
  }
}
.prices {
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 1.5;
  @include e('description') {
    display: inline-block;
    width: 20%;
    text-align: left;
    margin-right: 100px;
    vertical-align: top;
  }
  @include e('title') {
    font-weight: bold;
    font-size: 44px;
    text-transform: uppercase;
    color: $color-main;
  }
  @include e('text') {
    font-size: 14px;
    color: $color-main;
    margin-bottom: 20px;
    @include m('bold') {
      font-weight: bold;
    }
  }
  @include e('table') {
    width: 70%;
    display: inline-block;
  }
  @include e('list-holder') {
    //background: red;
    width: 100%;

    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  @include e('list-header') {
    background: $color-main;
    //border: 1px solid black;
  }
  @include e('list-title') {
    border: 1px solid white;
  }

}

.intro {
  height: 416px;
  background: url("../../../resource/style/img/ad-bg.png") no-repeat fixed center center;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 100px;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #000000;
    opacity: 0.3;
  }
  @include e('title') {
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    line-height: 1.5;
    position: relative;
  }
}

