<section class="home">
  <div class="content-wrapper">
    <h2 class="home_title">живи на повну
      <span class="accent">ми</span>
      все приберемо!</h2>
    <button class="clinko-button clinko-button__transparent">
      замовити прибирання
      <fa name="angle-double-right"></fa>
    </button>
  </div>
</section>
<section class="services-list">
  <div class="content-wrapper">
    <h1 class="services-list_title">НАШІ <span class="accent">ПОСЛУГИ</span></h1>
    <div class="services-list_item">
      <div class="services-list_img services-list_img__house"></div>
      <div class="services-list_desc">
        <h4 class="services-list_img-title">Прибирання квартир</h4>
        <p class="services-list_img-text">A basic or “regular”
          commercial cleaning </p>
      </div>
    </div>
    <div class="services-list_item">
      <div class="services-list_img services-list_img__window"></div>
      <div class="services-list_desc">
        <h4 class="services-list_img-title">Миття скляних поверхонь</h4>
        <p class="services-list_img-text">A basic or “regular”
          commercial cleaning </p>
      </div>
    </div>
    <div class="services-list_item">
      <div class="services-list_img services-list_img__carpet"></div>
      <div class="services-list_desc">
        <h4 class="services-list_img-title">Хімчистка килимів</h4>
        <p class="services-list_img-text">A basic or “regular”
          commercial cleaning </p>
      </div>
    </div>
    <div class="services-list_item">
      <div class="services-list_img services-list_img__furniture"></div>
      <div class="services-list_desc">
        <h4 class="services-list_img-title">хімчистка м'яких меблів</h4>
        <p class="services-list_img-text">A basic or “regular”
          commercial cleaning </p>
      </div>
    </div>
    <div class="services-list_item">
      <div class="services-list_img services-list_img__repair-room"></div>
      <div class="services-list_desc">
        <h4 class="services-list_img-title">Прибирання після ремонту</h4>
        <p class="services-list_img-text">A basic or “regular”
          commercial cleaning </p>
      </div>
    </div>
    <div class="services-list_item">
      <div class="services-list_img services-list_img__restaurant"></div>
      <div class="services-list_desc">
        <h4 class="services-list_img-title">Прибирання ресторанів</h4>
        <p class="services-list_img-text">A basic or “regular”
          commercial cleaning </p>
      </div>
    </div>
  </div>
</section>
<section class="additional">
  <div class="additional_left-part">
      <h2 class="additional_title">ЧОМУ <span class="accent">ОБИРАЮТЬ</span> НАС?</h2>
      <h3 class="additional_sub-title">Ми надаємо широкий спектр послуг професійного прибирання.</h3>
      <button class="clinko-button clinko-button__transparent">
        наші послуги
        <fa name="angle-double-right"></fa>
      </button>
    </div>
  <div class="additional_right-part">
      <h4 class="additional_small-title">ПЕРЕВІРЕНИЙ ПЕРСОНАЛ</h4>
      <p>Ми ретельно перевіряємо та навчаємо кожного клінера</p>
      <h4 class="additional_small-title">СТРАХУВАННЯ ТА БЕЗПЕКА</h4>
      <p>100% матеріальна відповідальність.</p>
      <h4 class="additional_small-title">ГАРАНТІЯ ЯКОСТІ</h4>
      <p>Ми виконуємо кожне замовлення по регламенту та швидко відгукуємося на будь-які пропозиції і скарги</p>
      <h4 class="additional_small-title">ФІКСОВАНА ВАРТІСТЬ ПОСЛУГ</h4>
      <p>Ми завчасно повідомляємо про варатість послуг та фіксуємо її.</p>
    </div>
</section>
<section class="prices">
  <div class="content-wrapper">
    <div class="prices_description">
      <h2 class="prices_description-title">
        <span class="accent">НАШІ </span> ЦІНИ
      </h2>
      <p class="prices_text">Виникли питання?<br> Телефонуйте або напишіть нам на Viber за більш детальною інформацією.</p>
      <p class="prices_text prices_text__bold">
        <span class="prices_phone">наш тел. <fa name="phone"></fa>‎067 993 70 43</span>
      </p>
      <button class="clinko-button">
        замовити прибирання
        <fa name="angle-double-right"></fa>
      </button>
    </div>
    <div class="prices_list">
      <p-panel header="Генеральне прибирання" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
        </table>
      </p-panel>
      <p-panel header="Миття скляних поверхонь" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
        </table>
      </p-panel>
      <p-panel header="Хімчистка" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
        </table>
      </p-panel>
      <p-panel header="Прибирання після ремонту" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        <table class="prices_list-table">
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
          <tr class="prices_list-holder">
            <td class="prices_list-item">Jill</td>
            <td class="prices_list-item">Smith</td>
          </tr>
        </table>
      </p-panel>
    </div>
  </div>
</section>
<section class="intro">
  <h3 class="intro_title">ЯК <span class="accent">МИ</span> ПРАЦЮЄМО</h3>
  <div class="intro_case">
    <h4 class="intro_case-title">Ви<br> замовляєте <br>послугу</h4>
  </div>
  <fa name="arrow-right" class="intro_arrow"></fa>
  <div class="intro_case intro_case__padTop">
    <h4 class="intro_case-title">Ми<br> оцінюємо <br>та повідомляємо вартість</h4>
  </div>
  <fa name="arrow-right" class="intro_arrow"></fa>
  <div class="intro_case">
    <h4 class="intro_case-title">Ми<br> виконуємо <br>замовлення</h4>
  </div>
  <fa name="arrow-right" class="intro_arrow"></fa>
  <div class="intro_case">
    <h4 class="intro_case-title">Ви<br> перевіряєте <br>та оплачуєте</h4>
  </div>
</section>

