<section class="home">
  <div class="content-wrapper">
    <h2 class="home_title">Leaving a
      <span class="accent">clean</span>
      path</h2>
    <button class="clinko-button clinko-button__transparent">
      GET QUOTE NOW
      <fa name="angle-double-right"></fa>
    </button>
  </div>
</section>
<section class="services-list">
  <div class="content-wrapper">
    <h1 class="services-list_title">JANITORIAL & CARPET <span class="accent">CLEANING</span>SERVICE</h1>
    <div class="part">
      <div class="services-list_item">
        <fa name="home" class="services-list_item-icon"></fa>
        <span class="services-list_item-title">
        RESIDENTIAL CARPET CLEANING
      </span>
        <span class="services-list_item-description">
        We help homes carpet look at their best. We also provide odor removal.
      </span>
      </div>
      <div class="services-list_item">
        <fa name="building" class="services-list_item-icon"></fa>
        <span class="services-list_item-title">
        OFFICE AND BUILDING CLEANING
      </span>
        <span class="services-list_item-description">
        Improve morale and decrease sick days with a clean, healthy office environment.
      </span>
      </div>
      <div class="services-list_item">
        <fa name="home" class="services-list_item-icon"></fa>
        <span class="services-list_item-title">
        STADIUM AND EVENT CLEANING
      </span>
        <span class="services-list_item-description">
        Impress your partners and fans with a stadium space worth cheering for.
      </span>
      </div>
      <div class="services-list_item">
        <fa name="home" class="services-list_item-icon"></fa>
        <span class="services-list_item-title">
        RESIDENTIAL CARPET CLEANING
      </span>
        <span class="services-list_item-description">
        We help homes carpet look at their best. We also provide odor removal.
      </span>
      </div>
    </div>
    <div class="part">
      <div class="services-list_item">
        <fa name="home" class="services-list_item-icon"></fa>
        <span class="services-list_item-title">
        RESIDENTIAL CARPET CLEANING
      </span>
        <span class="services-list_item-description">
        We help homes carpet look at their best. We also provide odor removal.
      </span>
      </div>
      <div class="services-list_item">
        <fa name="home" class="services-list_item-icon"></fa>
        <span class="services-list_item-title">
        RESIDENTIAL CARPET CLEANING
      </span>
        <span class="services-list_item-description">
        We help homes carpet look at their best. We also provide odor removal.
      </span>
      </div>
      <div class="services-list_item">
        <fa name="home" class="services-list_item-icon"></fa>
        <span class="services-list_item-title">
        RESIDENTIAL CARPET CLEANING
      </span>
        <span class="services-list_item-description">
        We help homes carpet look at their best. We also provide odor removal.
      </span>
      </div>
      <div class="services-list_item">
        <fa name="home" class="services-list_item-icon"></fa>
        <span class="services-list_item-title">
        RESIDENTIAL CARPET CLEANING
      </span>
        <span class="services-list_item-description">
        We help homes carpet look at their best. We also provide odor removal.
      </span>
      </div>
    </div>
  </div>
</section>
<section class="additional">
  <div class="content-wrapper">
    <div class="additional_left-part">
      <h2 class="additional_title">WHAT SETS <span class="accent">US</span> APART?</h2>
      <h3 class="additional_sub-title">Not all Janitorial companies are created equal.</h3>
      <button class="clinko-button clinko-button__transparent">
        SEE OUR SERVICES
        <fa name="angle-double-right"></fa>
      </button>
    </div>
    <div class="additional_right-part">
      <h4 class="additional_small-title">NO "STANDARD"</h4>
      <p>In addition to standard dusting and wiping, the Cleanko program includes dusting high touch points, desktop telephones, microwaves (inside and outside), window sills and other items overlooked by most commercial cleaning companies.</p>
      <h4 class="additional_small-title">SPECIAL SERVICES</h4>
      <p>The Cleanko Program offers additional Special Services, upon request, to address the long-term needs of your business. Special Services include carpet cleaning, hard floor care, window cleaning and more.</p>
      <h4 class="additional_small-title">COLOR-CODED CLEANING</h4>
      <p>We use a Color-coded Cleaning System to avoid cross contamination. MORE info Click Here</p>
    </div>
  </div>
</section>
<section class="prices">
  <div class="content-wrapper">
    <div class="prices_description">
      <h2 class="prices_title">
        <span class="accent">OUR </span> SERVICES
      </h2>
      <p class="prices_text">Regardless of the size of your
        business, by choosing CLEANKO rather than relying on in-house cleaning done by your staff, you’ll benefit from a high quality of professional service without having to hire and manage full-time staff.</p>
      <p class="prices_text prices_text__bold">Outsourcing is
        the proven, cost-effective solution to ensure your facility benefits from the highest standard for clean.</p>
      <button class="clinko-button">
        GET QUOTE NOW
        <fa name="angle-double-right"></fa>
      </button>
    </div>
    <div class="prices_table">
      <p-panel header="Janitorial Services" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
      </p-panel>
      <p-panel header="Janitorial Services" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
      </p-panel>
      <p-panel header="Janitorial Services" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
      </p-panel>
      <p-panel header="Janitorial Services" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
      </p-panel>
      <p-panel header="Janitorial Services" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'50px'}">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
      </p-panel>
    </div>
  </div>
</section>
<section class="intro">
  <h3 class="intro_title w30">OUR <span class="accent">COLOR CODED SYSTEM</span> AVOIDS CROSS CONTAMINATUON</h3>
</section>
