<section class="services-list">
  <div class="content-wrapper">
    <h1>JANITORIAL & CARPET <span class="accent">CLEANING SERVICE</span></h1>
    <div class="services-list_item">
      <fa name="home" class="services-list_item-icon"></fa>
      <span class="services-list_item-title">
        RESIDENTIAL CARPET CLEANING
      </span>
      <span class="services-list_item-description">
        We help homes carpet look at their best. We also provide odor removal.
      </span>
    </div>
  </div>
</section>
