<footer class="footer-main">
  <div class="parts-holder parts-holder__footer content-wrapper">
    <div class="footer-main_navigation-flex">
      <a href="#" class="footer-main_logo"></a>
      <nav class="footer-main_navigation ">
        <a href="#" class="footer-main_navigation-link">головна</a>
        <a href="#" class="footer-main_navigation-link">про нас</a>
        <a href="#" class="footer-main_navigation-link">наші послуги</a>
        <a href="#" class="footer-main_navigation-link">контакти</a>
        <a href="#" class="footer-main_navigation-link">наш блог</a>
      </nav>
    </div>
      <div class="footer-main_contacts">
        <div class="footer-main_phones">
          <span class="footer-main_phone"><fa name="phone" class="accent"></fa>098 487 32 34</span>
          <!--<span class="footer-main_phone footer-main_phone__margin">067 672 35 75</span>-->
          <a href="#" class="footer-main_email"><fa name="envelope-o" class="accent"></fa>clinko.company@gmail.com</a>
        </div>
        <div class="footer-main_social">
          <h4 class="footer-main_social-title">follow us</h4>
          <a href="#" class="footer-main_social-link"><fa name="facebook-square" class="accent"></fa>facebook.com/clinko</a>
          <a href="#" class="footer-main_social-link"><fa name="instagram" class="accent"></fa>instagram.com/clinko</a>
        </div>
      </div>
    </div>
</footer>

