<footer class="footer-main">
  <div class="parts-holder parts-holder__footer content-wrapper">
    <a href="#" class="footer-main_logo"></a>
    <nav class="footer-main_navigation pull-right">
      <a href="#" class="footer-main_navigation-link">головна</a>
      <a href="#" class="footer-main_navigation-link">про нас</a>
      <a href="#" class="footer-main_navigation-link">наші послуги</a>
      <a href="#" class="footer-main_navigation-link">контакти</a>
      <a href="#" class="footer-main_navigation-link">наш блог</a>
    </nav>
    <div class="footer_contacts">
      <div class="footer_phones">
        <span class="footer_phone">067 672 35 75</span>
        <span class="footer_phone">067 672 35 75</span>
        <a href="#" class="footer_email">clinko.company@gmail.com</a>
      </div>
      <div class="footer_social">
        <h4 class="footer_social-title">follow us</h4>
        <a href="#" class="footer_social-link">facebook.com/clinko</a>
        <a href="#" class="footer_social-link">instagram.com/clinko</a>
      </div>
    </div>
  </div>
</footer>

