@import "../../../resource/style/mixins";

.footer-main {
  @include clearfix();
  background: $color-main;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include e('logo') {
    display: inline-block;
    vertical-align: top;
    width: 141px;
    height: 86px;
    background: url("../../../resource/style/img/clinko_logo-footer.png") no-repeat;
  }
  @include e('navigation') {
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
  }
  @include e('navigation-link') {
    font-size: 16px;
    position: relative;
    color: $color-bg;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 0 15px;
    &:hover {
      color: $color-accent;
    }
    &:after {
      content: '|';
      position: absolute;
      right: -3px;
      color: $color-bg !important;
    }
    &:last-child:after {
      display: none;
    }
  }


}
.footer {
  @include e('contacts') {
    margin-top: 50px;
    margin-bottom: 60px;
    display: inline-block;

  }
  @include e('phones') {
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: left;
  }
  @include e('phone') {
    display: block;
    line-height: 40px;
    @include m('margin') {
      margin-left: 20px;
    }
  }
  @include e('email') {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 4;
  }
  @include e('social') {

  }
}
